<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Not Found</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link href="/css/page_not_found_style.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="container" data-text="404">
        <div class="title glitch" data-text="404">
            404
        </div>
        <div class="description glitch" data-text="PAGE NOT FOUND">
            PAGE NOT FOUND
        </div>
    </div>
</div>
<div class="cursor"></div>
</body>
</html>
